$grey--lightest: #cacaca;
$grey--lighter: #848789;
$grey--light: #94979a;
$grey--almost-white: #f7f7f7;
$grey--darkest: #a9afb3;

$black--lighter: #353738;
$black--darkest: #282f35;

$turquoise: #64c29e;

$blue--light: #95cbef;
$blue: #617ab9;

$red: #cd5756;

$text-color-main: $grey--lighter;
$text-color-titles: $black--lighter;

$block-bg-color: $grey--almost-white;
$shop-container-link-bg-color: $black--darkest;
$button-bg-color: $turquoise;
$shop-preview-bg-color: $turquoise;

$checkbox-border-color: $grey--lightest;
$shop-link-border-color: $grey--light;

$checkbox-check-color: $grey--darkest;

$twitter-color: $blue--light;
$facebook-color: $blue;
$pinterest-color: $red;

$img-bg-color: #e5e3e9;
