@mixin button-general-style() {
  display: block;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none;
  transition: $slow-transition;
}

@mixin images-adaptive() {
  width: 100%;
  height: auto;
}

@mixin visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
