.shop__list {
  @include list-style-none;

  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.shop__item {
  &--general {
    order: -1;
  }

  overflow: hidden;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 33.333%;

    &--general {
      order: 0;
    }
  }
}

.shop__preview-wrapper {
  position: relative;
}

.shop__preview {
  position: absolute;

  display: flex;
  width: 100%;
  height: 267px;

  background-color: $shop-preview-bg-color;
}

.shop__preview-text {
  position: relative;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 143px;

  font-size: $font-size-small;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;

    top: -40px;
    left: 30px;

    width: 51px;
    height: 30px;

    background-image: url("../img/shop-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.shop__img {
  object-fit: cover;

  display: block;
  min-width: 100%;
  width: 100%;
  height: 267px;

  &--saddle-black,
  &--saddles,
  &--bicycle-with-bag,
  &--bicycle,
  &--saddle-traveler,
  &--bag {
    width: 266.6px; // фикс из-за неодинаковых размеров изображений
    height: 100%;
  }
}

.shop__container-link {
  display: flex;
  min-height: 200px;

  background-color: $black--darkest;
}

.shop__link {
  display: inline-block;
  padding: 10px 55px;
  margin: auto;

  font-size: $font-size-small;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: #ffffff;

  border: 1px solid $shop-link-border-color;

  &:hover,
  &:focus {
    color: darken(#ffffff, 30);
    border-color: darken($shop-link-border-color, 30);
  }

  &:active {
    color: darken(#ffffff, 50);
    border-color: darken($shop-link-border-color, 50);
  }
}
