.site-list {
  @include list-style-none;

  width: 100%;
}

.site-list__item {

}

.site-list__link {
  display: inline-block;
  width: 100%;

  text-align: center;
  text-decoration: none;
  font-size: $font-size-small;
  font-weight: 700;
  color: $text-color-titles;
}
