.social {
  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.social__list {
  @include list-style-none;

  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 15px;
}

.social__link {
  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }
}
